@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@theme {
    --font-sans: "Google Sans Flex", ui-sans-serif, sans-serif;
    --font-mono: "Google Sans Code", monospace;
    --font-logo: "Newsreader", ui-serif, Georgia, serif;
    --font-serif: Georgia, serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
}
